
{% extends 'admin/base.html.twig' %}
{% block title %}Administration des annonces{% endblock %}
{% block body %}
    {#==== Include pagination ====#}
    {{ pagination.display() }}
    {#============================#}
    <div class="container-fluid">
        <h3 class="my-2">Gestion des Tracks</h3>
        <table class="table table-hover">
            <thead>
                <th class="text-center align-middle">Id</th>
                <th>Art</th>
                <th>Titre</th>
                <th class="text-center align-middle">note</th>
                <th>Genre</th>
                <th>Durée</th>
                <th class="text-center align-middle">Prix</th>
                <th>Auteur</th>
                <th class="text-center align-middle">Track</th>
                <th class="text-center align-middle">Action</th>
            </thead>
            <tbody>
                {% for ad in pagination.data %}
                <tr>
                    <td class="text-center"><span class="badge badge-primary rounded">{{ad.id}}</span></td>
                     <td><img style="max-height:100px; max-width:100px;"src="{{ad.image}}" alt=""></td>
                    <td>{{ad.title}}</td>
                    <td class="text-center">
                    <span class="badge badge-primary rounded pr-2 pl-2 ">{{ad.avgRatings| length}}</span></td>
                      <td clas="text-center">{{ad.genre}}</td>
                    <td>{{ad.duree| date('H:i') }} </td>
                    <td class="text-center"><span class="badge badge-primary rounded">{{ad.price | number_format(2,","," ")}} Euros</span></td>
                    <td><img style="max-height:100px; max-width:100px;" class="mr-4"
                    src="{{ad.author.picture}}" alt="">{{ad.author.firstName}} {{ad.author.lastName}}</td>  
                
                    <td> <iframe width="50%" height="150" scrolling="no" frameborder="no" allow="autoplay"
                        src="https://w.soundcloud.com/player/?url={{ad.soundcloud}}&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe></td> 
            
                  <td class="text-center align-middle">
                    <a href="{{ path ('admin_ads_edit' , {'id': ad.id }) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                    <a href="{{ path ('admin_ads_delete' , {'id': ad.id }) }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                  </td>
                  
                {% endfor %}
                </tr>      
            </tbody>

        </table>
    </div>
{% endblock %}
