<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>H4KH4 - {% block title %}Welcome!{% endblock %}</title>

	<link rel="stylesheet" href="/CSS/boostrap.min.css">
	<link rel="stylesheet" href="/CSS/app.css">


	{% block stylesheets %}{% endblock %}

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href=" {{ path('homepage') }}">H4KH4</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
			aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href=" {{ path('homepage')}}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href=" {{ path('ad')}}">Tracklist</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href=" {{ path('fan')}}">Fan Zone</a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href=" {{ path('account_login')}} " class="nav-link">Mon compte</a>
				</li>
			</ul>
		</div>
	</nav>

	{#========== Message d'alertes ===========#}

	{% for label, messages in app.flashes %}
	<div class="container mt-4">
		<div class="alert alert-{{ label }}">
			{% for message in messages %}
			<p> {{ message | raw }}</p>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
	{#========== EO Message d'alertes ===========#}




	{% block body %}{% endblock %}

	{% block footer %}

	<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i
									class="fa fa-angle-double-right"></i>Imprint</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.facebook.com/hakha.music.maker/"><i
									class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/H4kh4_Music"><i
									class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/h4kh4_music/"><i
									class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a>
						</li>
						<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i
									class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				</hr>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a
						Registered
						MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
					<p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com"
							target="_blank">Sunlimetech</a></p>
				</div>
				</hr>
			</div>
		</div>
	</section>
	<!-- ./Footer -->
	{% endblock %}

	<br /><br />




	<script src="/JS/jquery.min.js"></script>
	<script src="/JS/jpopper.min.js"></script>
	<script src="/JS/boostrap.min.js"></script>

	{% block javascripts %}{% endblock %}
</body>

</html>
