<div class="col-md-6">
    <div class="card border-primary mb-3" style="max-width: 35rem;">
        <div class="card-header">
            <h1 class="titleShort" style="color: #71c2e">
                <a class="atitre pb-1" style="font-size:18px;" href="{{ path('tr-show', {'id':ad.id}) }} ">
                    {{ ad.title}} </a></h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mr-3" style="max-height: 160 px; max-width: 160px;">
                    <img style="max-height: 160 px; max-width: 160px;" src="{{ ad.image }}" alt="Card image"
                        class="d-flex justify-content-center mb-2 rounded img-fluid">

                    {% if ad.comments|length > 0 %}
                    {% include 'partials/rating.html.twig' with {'rating': ad.avgRatings} %}
                    {% else %}
                    <small>Vous n'avez pas encore noté cette track </small>
                    {% endif %}
                    {% set a = ad.author %}

                    <h6 class="card-title pb-0 mt-1 " style="font-size:12px">Posté par : <a
                            href="{{ path('user_show' , {'slug': a.slug } ) }}">{{ad.author.firstName}} </a></h6>
                    <h6 style="font-size:13px">le : {{ad.createdAt | date('d/m/Y')}}</h6>
                    <h6 style="font-size:13px">à {{ad.createdAt | date('H:i')}}</h6>
                </div>

                <div class="col-md-8">
                    <h6 class="card-title"><strong>Genre :</strong> {{ ad.genre }} </h6>
                    <h6 class="card-title"><strong>Durée : </strong> {{ ad.duree| date('H:i') }} </h6>
                    <h6 class="card-title"><strong>Prix : </strong>{{ ad.price }} Euros </h6>
                    <h6 class="card-title"><strong>Année : </strong>{{ ad.annee }} </h6>
                    <hr class="hr4">
                    <strong> About : </strong>
                
                    <h6 class="card-text mt-1" style="height:105px; overflow:hidden">{{ad.about}}</h6>
                </div>

            </div>
            <div class="card-footer mt-3 ">
                <div class="">
                    <small class="text-muted"> <a href="{{ path('tr-show', {'id':ad.id}) }} "
                            class="btn btn-success mr-1">Ecouter</a></small>
                    {% if app.user and app.user is same as(ad.author)%}
                    <a href="{{ path('tr-edit', {'id':ad.id}) }} " class="btn btn-warning mr-1">Editer</a>
                    <a href=" {{ path('tr-del', {'id': ad.id}) }} " class="btn btn-danger mr-1">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
