{% extends 'base.html.twig' %}

{% block title %}
{{ ad.title}}
{% endblock %}

{% block body %}

<h1> </h1>

<div class="container">
    <div class="row">
        <div class="col order-2">
            <div class="card border-secondary mb-3 ">
                <div class="card-body">
                    <h4 class="card-title">Track : {{ ad.title}} </h4>


                        <a href="{{ path('tr-show', {'id':ad.id}) }} " class="btn btn-danger float-right mt-3 ml-1">Delete</a>
                        <a href="{{ path('tr-show', {'id':ad.id}) }} " class="btn btn-warning float-right mt-3">Editer</a>
                    
                    <hr>
                    <div class="card-text">
                        <img class="float-left mr-3" src=" {{ ad.image }}" alt="imgTrack">
                        <p><strong> Genre : </strong>{{ ad.genre }} </p>
                        <p><strong> Durée : </strong>{{ ad.duree| date('H:i') }} </p>
                        <p><strong> Année de sortie: </strong>{{ ad.annee }} </p>
                        <p><strong> Prix : </strong>{{ ad.price }} Euros </p>
                        <br />
                    
                        <audio controls
                            data-info-album-art="http://farm5.staticflickr.com/4050/4353986539_ec89b52698_d.jpg"
                            data-info-album-title="8874" data-info-artist="Billy Murray"
                            data-info-title="Come, take a trip in my air-ship"
                            data-info-label="Edison Gold Moulded Record" data-info-year="1905"
                            data-info-att="University of California, Santa Barbara Library."
                            data-info-att-link="http://cylinders.library.ucsb.edu/search.php?query=8874">
                            <source src="/bootstrap-player/media/cusb-cyl2985d.ogg" type="audio/ogg" />
                            <source src="//Users/hakha/Desktop/01 - Greenland.mp3" type="audio/mpeg" />
                            <a href="/bootstrap-player/media/cusb-cyl2985d.mp3">cusb_cyl2985d</a>
                        </audio>
                        <a href="" class="btn btn-success float-right">Acheter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col order-2">
            <div class="card border-secondary mb-3 ">
                <div class="card-body">

		<div class="media">
		
        {% set a = ad.author %}

			<div class="media-left align-self-center">

				
                <img class="rounded-circle1" src=" {{ ad.author.picture }}"
                alt="avatar de {{ad.author.firstName}}">
                <a href=" {{ path('user_show' , {'slug': a.slug } ) }} "> <p class="p2">{{ad.author.firstName}}  </a> a posté 
                {{ ad.author.ads | length}} tracks</p>
               

			</div>
			<div class="media-body">
				<h4> </h4>
				<p class="p3"> {{ad.author.introduction}}</p>
				
			</div>
			<div class="media-right align-self-center">
				<a href="#" class="btn btn-default">Contact Now</a>
			</div>

		</div>

                </div>
            </div>
        </div>
    </div>
 
</div>
{% endblock %}
