{% extends 'base.html.twig' %}

{% block title %}
{{ ad.title}}
{% endblock %}

{% block body %}

<h1> </h1>

<div class="container">
    <div class="row">
        <div class="col order-2">
            <div class="card border-secondary mb-2 ">
                <div class="card-body">
                    <h4 class="card-title">{{ ad.title}} </h4>

                {% if app.user and app.user is same as(ad.author) %}
                        <a href="  {{ path('tr-del', {'id': ad.id}) }} " class="btn btn-danger float-right mt-3 ml-1"
                        onclick= "return confirm('Confirmez la suppression de la track: {{ad.title}}?')" >Delete</a>
                        <a href="{{ path('tr-edit', {'id':ad.id}) }} " class="btn btn-warning float-right mt-3">Editer</a>
                {% endif %}   
                    <hr>
                    <div class="card-text">
                        <img class="float-left mr-3 maxheight" style="height: 230px; width: 230px" src=" {{ ad.image }}" alt="imgTrack">
                        <p><strong> Genre : </strong>{{ ad.genre }} </p>
                        <p><strong> Durée : </strong>{{ ad.duree| date('H:i') }} </p>
                        <p><strong> Année de sortie: </strong>{{ ad.annee }} </p>
                        <p><strong> Prix : </strong>{{ ad.price }} Euros </p>
                        <br />
               <!-- LECTEUR AUDIO -->      

<div class="audio  js-audio">  
    <audio class="audio__src  js-audio__src" src="https://goo.gl/TNkeEq" preload controls></audio>  
    <button class="audio__icon  audio__icon--play  js-audio__play"></button>   
    <progress class="audio__bar  js-audio__progress" value="0" max="100"></progress>    
    <time class="audio__time">       
        <span class="js-audio__time">0:00</span> / <span class="js-audio__endtime">0:00</span>   
    </time>   
    <button class="audio__icon  audio__icon--loop  js-audio__loop"></button>  
    <button class="audio__icon  audio__icon--vol  audio__icon--vol-hi  js-audio__mute"></button>   
    <div class="audio__vol-pop">       
        <progress class="audio__vol  js-audio__vol" value="1" max="1"></progress>       
    </div>  
    <a class="audio__icon  audio__icon--download" href="https://goo.gl/TNkeEq" download></a>
</div>

      
                        <a href="" class="btn btn-success float-right">Acheter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col order-2">
            <div class="card border-secondary mb-3 ">
                <div class="card-body">

		<div class="media">
		
        {% set a = ad.author %}

			<div class="media-left align-self-center">

				<a href="{{path('user_show', {'slug': a.slug})}}">
                <img class="rounded-circle3 mb-3 ml-2" src=" {{ ad.author.picture  }}"
                alt="avatar de {{ad.author.firstName}}"></a>
               
                <a href=" {{ path('user_show' , {'slug': a.slug } ) }} "> <p class="p2">{{ad.author.firstName}}  </a> a posté 
                {{ ad.author.ads | length}} tracks</p>

			</div>
			<div class="media-body">
				<h4> </h4>
				<p class="p3"> </p>
				
			</div>
			<div class="media-right align-self-center">
				<a href="#" class="btn btn-default">Contact Now</a>
			</div>

		</div>

                </div>
            </div>
        </div>
    </div>
 
</div>
{% endblock %}
