{% extends 'base.html.twig' %}

{% block title %} page de {{user.firstName}} {% endblock %}

{% block body %}

<div class="container mt-3 mb-3">
 <div class="card border-secondary pt-4 pb-1">
    <div class="row ">
        <div class="col-2 text-center1 pr-1 ">
            <img src="{{user.picture}}" class="avatar mb-3" alt="avatar de {{user.firstname}} . {{user.lastName}}">
            <br>
            <span class="badge badge-primary">{{ user.ads  | length }} posts </span>
        </div>
        <div class="col-10 pr-5">
            <h1>{{user.firstname}} {{user.lastName}}</h1>

            <hr class="hrr">

              {{user.introduction  | raw }}

              <hr class="hrr">

              <h5>Contributions de {{user.firstName}}</h5> 

            {% if user.ads | length >0 %}


                    {% for ad in user.ads %}    
       </div>       
    </div>
 </div>
</div>
<!-- ======================  -->    

<div class="container mt-3 mb-3 "> 
 <div class="row10">
{% include  'ad/_ad.html.twig' %}
</div>
 </div> 
 
<!-- ======================  -->
                    {% endfor %}

            {% else %}
                <div class="alert alert-warning">
                    <p><strong>{{user.firstname}} {{user.lastName}} n'as pas encore posté de Track </strong></p>
                </div>
            {% endif %}
            
 

{% endblock %}
